/* visualizzazione XS mobile  */
@media screen and (max-width: 480px){

    main aside {
            width: 50px; 
    }

    .album-container {
            min-width: calc(100% - 50px);
    }
    
    main aside section {
            display: block;
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: auto;
            flex-basis: 90%;
    }

    main aside section img {
        width: 100%;
        margin: 5px 0;
    }

    main aside .section-bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    main aside .section-bottom a:last-child {
        margin: 10px 0;    
    }

    aside nav, aside div, aside .aside-bottom {
        display: none;
    }

    .sezione-album {
        display: flex;
        flex-wrap: wrap;
    }

    .menu-nav ul {
        display: flex;
        flex-wrap: wrap;  
    }

    .menu-nav ul li {
      display: inline-block;
      display: flex;
      justify-content: space-between;
    }

    .menu-nav ul li {
        flex-grow: 1;
        justify-content: center;
    }
   
    .col-1-s, 
    .col-2-s, 
    .col-3-s, 
    .col-4-s, 
    .col-5-s, 
    .col-6-s {
        width: calc(50% - 20px);
        margin: 10px;
    }

    body footer {
        background-color: #282828;
        height: 120px;
        z-index: 3;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    footer .footer-left, footer .footer-right {
        width: 50%;
    }

    footer .footer-center {
        width: 100%;
        order: -1;
    }

    body main {
        display: flex;
        height: calc(100vh - 120px);
    }
}

/* visualizzazione S mobile  */
@media screen and (min-width: 481px) and (max-width: 700px) {
    .sezione-album {
        display: flex;
        flex-wrap: wrap;
    }

    .menu-nav ul{
        display: flex;
        flex-wrap: wrap;  
    }

  .menu-nav ul li {
      width: calc(100% / 3);  
    }
   
    .col-1-s, 
    .col-2-s, 
    .col-3-s, 
    .col-4-s, 
    .col-5-s, 
    .col-6-s 
    {
        width: calc(50% - 20px);
        margin: 10px;
    } 
}

/* visualizzazione MD da tablet  */
@media screen and (min-width: 701px) and (max-width: 1100px) {
    
    .menu-nav ul{
        display: flex;
        flex-wrap: wrap;  
    }

    .menu-nav ul li {
      width: 20%;  
    }

    .menu-nav ul li:last-child {
        flex-grow: 1;
        justify-content: center;
    }

    .sezione-album {
        display: flex;
        flex-wrap: wrap;
    }

    .col-1-s, 
    .col-2-s, 
    .col-3-s, 
    .col-4-s, 
    .col-5-s, 
    .col-6-s  {
        width: calc(25% - 20px);
        margin: 10px;
    }
}

/* visualizzazione LG da desktop  */
@media screen and (min-width: 1101px) {
    .col-1-s, 
    .col-2-s, 
    .col-3-s, 
    .col-4-s, 
    .col-5-s, 
    .col-6-s {
        width: calc((100% / 6) - 20px);
        margin: 10px;
        text-align: center;
    }
}