/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common  */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.scritte-bianche {
    color: #F9F9F9;
}

.icone-bianche {
    color: #D2D2D2;
}

.testo-grigio {
    color: #6E6E6E;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-25 {
    margin-top: 25px;
}
/* main  */
main {
    display: flex;
    height: calc(100vh - 60px);
}

/* side-bar laterale */
.side-bar {
    width: 200px;
    background-color: black;
    overflow-y: auto;
    padding: 10px;
}

.logo {
    width: 120px;
}

ul li {
    list-style: none;
    text-indent: -10px;
    padding-left: 20px;
    font-size: 13px;
}

ul li a {
    text-decoration: none;
    color: #6E6E6E;

}

/* contenitore album */
.section-container {
    flex-grow: 1;
    background-color: #141922;
}

/* footer  */
footer {
    display: flex;
    background-color: #282828;
    height: 60px;
}